# Dependencies
node_modules/
/npm-debug.log*

# Static builds & caches
/dist
/out
/.next/
/*.tsbuildinfo

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases and system
/postgres-data/
.DS_Store
Thumbs.db

# Backup folders
/legacy-vite-backup/
